.card {
    width: 150px;
    margin: auto;
    padding: 15px;
    text-align: center;
  }
  
  .countControls {
    display: flex;
    justify-content: space-between; 
    width: 100%;  
    margin-top: 10px;
  }
  

  .button {
    min-width: 40px;
    padding: 5px;
  }
  
  
  .decrementButton {
    margin-right: 5px;
  }
  
  
  .incrementButton {
    margin-left: 5px;
  }
  
  
  .counter {
    font-size: 1.5rem;
    margin: 0 10px;
    font-weight: bold;
  }