
.navbar {
    background-color: #af9f9f;  
    padding: 10px 20px;
}

.navbarImg {
    height: 100px;  
}

.navLink {
    color: #090303;  
    text-decoration: none;
    margin-right: 20px;
}

.navLinkHover:hover {
    color: #a7d718;  
}

.cartWidget {
    margin-left: 20px;
}

.container {
    margin-top: 20px;
}